.center {
  width: 100%;
  height: 9vh;
  background-color: #3f51b5;

  display: flex;
  justify-content: center;
  p {
    color: white;
    font-size: 30px;
    padding-top: 10px;
    align-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
