<!-- <form class="example-container" [formGroup]="formUser" (ngSubmit)="onSubmitForm(formUser.value)"> -->
<form class="example-container" [formGroup]="formUser" (ngSubmit)="onSubmitForm()">
  <!-- form -->
  <mat-form-field appearance="fill">
    <mat-label>Article Title</mat-label>
    <input matInput name="articleTitle" formControlName="title" required />
    <span *ngIf="
        formUser.controls.title.dirty &&
        formUser.controls.title.errors?.required
      ">Please enter your title article</span>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>What's is your article about?</mat-label>
    <input matInput name="articleAbout" formControlName="about" required />
    <span *ngIf="
        formUser.controls.about.dirty &&
        formUser.controls.about.errors?.required
      ">Please enter your about article</span>
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Write your article</mat-label>
    <textarea matInput class="text-area" name="articleDetail" formControlName="detail" required></textarea>
    <span *ngIf="
        formUser.controls.detail.dirty &&
        formUser.controls.detail.errors?.required
      ">Please enter your article
    </span>
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
        {{ tag }}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="New tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
  </mat-form-field>

  <!-- button submit -->
  <button type="submit" mat-raised-button color="primary" [disabled]="formUser.invalid">
    Publish Article
  </button>
</form>
