.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
        width: 40em;

        .text-area {
            height: 10em;
        }

    }

    button {
        width: 10em;
        margin-left: 25em;
        margin-top: 1em;
    }
}
