<mat-toolbar color="primary">
  <mat-toolbar-row>

    <div>
      <div class="animate one">
        <span>R</span><span>e</span><span>a</span><span>d</span>&nbsp;<span>i</span><span>t</span>
      </div>
    </div>

    <!-- <span>Read it.</span> -->
    <span class="example-spacer"></span>
    <a [routerLink]="['']"><span class="material-icons">
        home
      </span> Home</a>
    <a *ngIf="displayUser" [routerLink]="['setting']"><span class="material-icons">settings</span> Settings</a>
    <a *ngIf="displayUser" [routerLink]="['article', 'new-article']"><span class="material-icons">create</span> New
      Article</a>
    <a *ngIf="!displayUser" [routerLink]="['login']"> Login</a>
    <a *ngIf="!displayUser" [routerLink]="['signup']">Signup</a>

    <span class="material-icons">account_circle</span>
    <a *ngIf="displayUser" [routerLink]="['profile', displayUser]">{{
      displayUser
    }}</a>
  </mat-toolbar-row>
</mat-toolbar>
