.articles img {
  width: 50px;
  height: 50px;
  float: left;
}

button.edit-profile {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #3f51b5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: aliceblue;
}

.articles .info {
  margin-left: 55px;

  h4 {
    margin-top: 2px;
    margin-bottom: 0px;
  }
}

.article-preview {
  margin-top: 30px;
  margin-bottom: 20px;
}

// update

.author__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author__username {
  margin-bottom: 0;
  cursor: pointer;
}

.author__button {
  display: flex;
  margin-top: 3em;
  justify-content: center;
}

.articles-detail {
  display: flex;
  justify-content: center;
  width: 80vw;
  margin-top: 2em;
}

.hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.my-articles-detail {
  margin-top: 30px;
}

.article-desc {
  color: #999;
}

a.read-more {
  color: #999;
  text-decoration: none;
}

.form-container {
  width: 100%;
  height: 100%;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: whitesmoke;
}
