<div class="form-container">
  <!-- Article -->
  <div class="author">
    <div class="author__profile">
      <div>
        <img [src]="profile?.image" alt="image" />
      </div>
      <h2 class="author__username">{{ profile?.username }}</h2>
      <p>{{ profile?.bio }}</p>
    </div>

    <div class="author__button">
      <button
        mat-raised-button
        [color]="profile?.following ? 'primary' : 'basic'"
      >
        {{ profile?.following ? "Unfollow" : "Follow" + profile?.username }}
      </button>
    </div>
  </div>

  <div class="articles-detail">
    <mat-tab-group style="width: 60vw">
      <!-- My Articles -->
      <mat-tab label="My Articles"
        ><app-article-item
          *ngFor="let item of myArticles"
          [articleItem]="item"
        ></app-article-item
      ></mat-tab>

      <!-- Favorired Articles -->
      <mat-tab label="Favorited Articles"
        ><app-article-item
          *ngFor="let item of myFavoriteArticles"
          [articleItem]="item"
        ></app-article-item
      ></mat-tab>
    </mat-tab-group>
  </div>
</div>
