.flex {
  display: flex;
}
button {
  display: inline-block;
  margin: 0 2em;
  .mat-icon-button {
    margin-left: 0;
  }
}
mat-card {
  margin-bottom: 2em;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

  mat-card-header {
    margin-bottom: 2em;
    .mat-card-avatar img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    mat-card-title a {
      margin-left: 0.5rem;
      color: dodgerblue;
      text-decoration: none;
      font-size: larger;
    }
  }
  mat-card-content {
    p {
      margin-top: 1em;
      line-height: 25px;
    }
    mat-card-subtitle {
      display: inline-block;
      background-color: rgb(192, 190, 190);
      border-radius: 30px;
      color: black;
      padding: 0 0.5em;
      margin-right: 0.5rem;
    }
  }
}
