<form class="example-form" #form="ngForm" (ngSubmit)="handleSubmit(form.value)">
  <div class="signup">
    <h1 class="signup-heading">Signup</h1>
    <div class="form-group">
      <label for="name" class="form-label">User name</label>
      <input type="text" class="form-input" id="name" placeholder="Eg: hieunt106" ngModel #username="ngModel"
        name="username" required />
      <span class="validate-span" *ngIf="username.dirty && username.errors?.required">Username can not be blank</span>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-input" id="password" ngModel minlength="6" name="password" #password="ngModel"
        required />
      <span class="validate-span" *ngIf="password.dirty && password.errors?.required">Password can not be blank</span>
      <span class="validate-span" *ngIf="password.dirty && password.errors?.minlength">Password must be at least 6
        characters</span>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-input" id="email" ngModel name="email" #email="ngModel"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required />
      <span class="validate-span" *ngIf="email.dirty && email.errors?.required">Email can not be blank</span>
      <span class="validate-span" *ngIf="email.dirty && email.errors?.pattern">Invalid email address</span>
    </div>
    <button type="submit" class="form-submit" [class.gray-btn]="form.invalid" [disabled]='form.invalid'>Signup</button>
    <p class="signup-already">
      You have an account ?
      <a href="#" class="signup-already-link">Login</a>
    </p>
  </div>
</form>