.article-detail {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  margin: 3em auto;
  padding: 3em;
  .article-detail__header {
    display: flex;

    .article-detail__header--info {
      display: flex;
      flex-direction: column;
      width: 100%;
      .article-detail__header--info-author {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: whitesmoke;
        padding: 1em;
        align-items: center;

        .article-detail__header--info-authordetail {
          display: flex;

          .article-detail__header--info--detail {
            margin-left: 0.5em;
          }

          .article-detail__header--info--detail a {
            text-decoration: none;
            color: gray;
          }
        }
        .article-detail-action_button {
          justify-items: flex-end;
          button {
            margin: 0 0.2em;
          }
        }
      }

      .article-detail__header--info--icon {
        img {
          width: 3em;
          border-radius: 50%;
        }
      }
    }
  }

  .article-detail__content {
    p {
      margin-bottom: 3em;
    }

    hr {
      border: 1px solid lightgrey;
      margin-bottom: 1.5em;
    }
  }

  .article-detail__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    textarea {
      border-radius: 7px;
      margin: auto;
      width: 60em;
      height: 13em;
      border: 0.5px solid lightgray;
    }

    .textarea-button {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .box-button {
      width: 10em;
      margin: 15px 0 0 750px;
    }
  }
}
// old css
// mat-card {
//   padding: 2em;
//   margin-bottom: 2em;
//   border-radius: 30px;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
//   width: 85vh;

//   mat-card-header {
//     margin-bottom: 2em;
//     .mat-card-avatar img {
//       width: 3rem;
//       height: 3rem;
//       border-radius: 50%;
//     }
//     mat-card-title a {
//       margin-left: 0.5rem;
//       text-decoration: none;
//       font-size: larger;
//     }
//   }

//   mat-card-content {
//     font-size: 1.5em;
//     p {
//       margin-top: 1em;
//       line-height: 25px;
//     }
//     mat-card-subtitle {
//       display: inline-block;
//       background-color: rgb(192, 190, 190);
//       border-radius: 30px;
//       color: black;
//       padding: 0 0.5em;
//       margin-right: 0.5rem;
//     }
//   }

//   .textarea {
//       display: flex;
//       flex-direction: column;
//   }

// }
