<div class="background_container">
  <div class="article-detail">
    <!-- header article -->
    <div class="article-detail__header">
      <div class="article-detail__header--info">
        <div>
          <h1>{{ articleDetail?.title }}</h1>
        </div>
        <div class="article-detail__header--info-author">
          <div class="article-detail__header--info-authordetail">
            <div class="article-detail__header--info--icon">
              <img [src]="articleDetail?.author?.image" alt="img" />
            </div>
            <div class="article-detail__header--info--detail">
              <a href=""> {{ articleDetail?.author?.username }} </a>
              <p>{{ articleDetail?.createdAt | date: "MMMM d, y" }}</p>
            </div>
          </div>
          <div *ngIf="isMyArticle" class="article-detail-action_button">
            <button mat-raised-button color="warn">Delete</button>

            <button mat-raised-button color="primary" (click)="handleEdit(articleSlug)">
              Edit
            </button>
          </div>
          <div *ngIf="!isMyArticle" class="article-detail__button">
            <button mat-raised-button [color]="articleDetail?.author?.following ? 'primary' : 'basic'"
              (click)="handleFollow(articleDetail.author.following)">
              {{
                (articleDetail?.author?.following ? "Unfollow " : "Follow ") +
                  articleDetail?.author?.username
              }}
            </button>
            <button mat-raised-button [color]="articleDetail?.favorited ? 'accent' : 'basic'"
              (click)="handleClick(articleDetail.slug)">
              {{
                articleDetail?.favorited
                  ? "Unfavorite Article "
                  : "Favorite Article "
              }}
              - {{ articleDetail?.favoritesCount }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!-- content article -->
    <div class="article-detail__content">
      <p>{{ articleDetail?.body }}</p>
      <hr />
    </div>

    <div *ngIf="isLoggin; else mustLogin" class="article-detail__footer">
      <div class="textarea-button">
        <textarea #txtcomment id="" cols="30" rows="10"></textarea>
        <button type="submit" mat-raised-button color="primary" class="box-button" (click)="PostComment(txtcomment)">
          Post Comment
        </button>
      </div>
    </div>
    <ng-template #mustLogin>
      You Must Login to Comment
      <a mat-raised-button style="width: 3em" color="primary" (click)="navigate()">Login</a>
    </ng-template>
    <app-comments [comments]="comments" [user]="username" (deleteComment)="handleDelete($event)"></app-comments>
  </div>
</div>
