<div class="cotainer">
  <h2>Popular Tags</h2>
  <mat-chip-list class="example-chip">
    <mat-chip class="example-box" *ngFor="let tag of tagsInput">
      <span (click)="handleClick(tag)"> {{ tag }}</span>
    </mat-chip>
  </mat-chip-list>
</div>
