.article-detail__comment {
  display: flex;
  justify-content: center;

  li {
    border-radius: 7px;
    list-style: none;
    width: 50em;
    border: 0.5px solid lightgray;
    margin-bottom: 1em;
    padding: 1em;
  }

  hr {
    border: 1px solid grey;
  }

  img {
    width: 1.5em;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
    color: dodgerblue;
    margin: 0 0.5em 0;
  }

  ul {
    padding-left: 0;
  }

  span {
    font-size: small;
  }

  .comment {
    display: flex;
    justify-content: space-between;

    button {
      height: 25px !important;
      width: 25px !important;
      font-size: 10px !important;
      .mat-icon {
        font-size: 15px !important;
        margin-bottom: 20px;
        position: relative;
        bottom: 10px;
      }
    }
  }
}
