<div class="article-detail__comment">
  <ul>
    <li *ngFor="let comment of comments">
      <p>{{ comment?.body }}</p>
      <hr />
      <div class="comment">
        <div>
          <img alt="img" [src]="comment?.author?.image" />
          <a>{{ comment?.author?.username }}</a>
          <span>{{ comment?.createdAt | date: "MMMM d, y" }}</span>
        </div>
        <button
          *ngIf="comment.author.username === user"
          (click)="handleClick(comment.id)"
          mat-fab
          color="warn"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </li>
  </ul>
</div>
