.flex {
  display: flex;
  justify-content: space-between;
  position: relative;
  .article {
    width: 75%;
    margin-top: 2rem;
  }
  app-tags {
    width: 20%;
    right: 6em;
    top: 6rem;
    position: fixed;
  }
}
