<app-profile-detail></app-profile-detail>
<!-- <div class="flex">
  <div class="article">
    <mat-tab-group (focusChange)="focusChange($event)" mat-align-tabs="start">
      <mat-tab *ngFor="let tab of tabs" [label]="tab.label">
        <app-article-item *ngFor="let item of tab.data" [articleItem]="item" (likeArticle)="handleLike($event)"
          (unlikeArticle)="handleUnlike($event)"></app-article-item>
      </mat-tab>
    </mat-tab-group>
    <app-paginator [articleLength]="pageSize" (pageChange)="handlePage($event)">
    </app-paginator>
  </div>
  <app-tags [tagsInput]="tags" (tagSelected)="hanldeTag($event)"></app-tags>
</div> -->