<div class="form-container">
    <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="editProfile">
            <div>
                <h1>Your Settings</h1>
            </div>
            <div>
                <mat-form-field>
                    <input matInput class="materio" formControlName="image" placeholder="Image">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput minlength="1" class="materio" formControlName="username" placeholder="Username *"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                </mat-form-field>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">username is required</div>
                </div>
            </div>
            <div class="textarea">
                <textarea cols="82" rows="10" class="materio" formControlName="bio" placeholder="Bio"
                    value="{{bio}}"></textarea>
            </div>
            <div>
                <mat-form-field>
                    <input matInput class="materio" id="email" formControlName="email" placeholder="Email *"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                </mat-form-field>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email is required</div>
                    <div *ngIf="f.email.errors.email">email must be a valid email address</div>
                </div>
            </div>
            <div>
                <mat-form-field>
                    <input matInput name="password" class="materio" id="password" formControlName="password"
                        placeholder="Password *" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                </mat-form-field>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">password is required</div>
                    <div *ngIf="f.password.errors.minlength">password must be at least 6 characters</div>
                </div>
            </div>
            <div>
                <Button type="submit" variant="contained" color="primary" class="bt-submit">
                    Update
                </Button>
            </div>

        </form>
    </div>
</div>