<mat-card>
  <mat-card-header>
    <div mat-card-avatar>
      <img [src]="articleItem?.author?.image" alt="img" />
    </div>
    <mat-card-title
      ><a href="#">{{ articleItem?.author?.username }}</a></mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <mat-card-title>{{ articleItem?.title }}</mat-card-title>
    <p>
      {{ articleItem?.description }}
    </p>
    <mat-card-actions class="flex">
      <button
        mat-icon-button
        [color]="articleItem?.favorited ? 'accent' : 'basic'"
        (click)="handleClick(articleItem.slug)"
        disableRipple="true"
      >
        <mat-icon>favorite</mat-icon> {{ articleItem.favoritesCount }}
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="showDetail(articleItem.slug)"
      >
        More...
      </button>
    </mat-card-actions>
    Tags:
    <mat-card-subtitle *ngFor="let tag of articleItem?.tagList">{{
      tag
    }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
